<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjob.backend.mapper.AdminboardMapper">
    <select id="selectAjax" resultType="AdminboardDTO">
      <![CDATA[
      select * from (select @rownum:=@rownum+1 as rnum, A.* from (select * from MEMBER order by u_seq desc) A, (select @rownum:=0) R) B where rnum>=#{startRow} and rnum<=#{endRow}
      ]]>
    </select>
    <select id="selectCount" resultType="int">
      select count(*) from member
    </select>
    <select id="selectBySeq" parameterType="int" resultType="AdminboardDTO">
      select * from MEMBER where u_seq=#{u_seq}
    </select>
</mapper>