<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjob.backend.mapper.ApplyMapper">
    <select id="list" parameterType="int" resultType="ApplyDTO">
      select a.u_seq,
            a.co_seq,
            a.apply_date,
            a.re_seq,
            a.self_seq,
            b.co_title from apply a inner join company b on a.co_seq=b.co_seq where u_seq=#{u_seq};
    </select>
    <select id="listApply" parameterType="int" resultType="ApplyDTO">
      select * from apply where co_seq=#{co_seq};
      
    </select>
    <select id="listApplyMember" parameterType="int" resultType="ApplyDTO">
      select * from apply where u_seq=#{u_seq};
    </select>
    <update id="isCheck" parameterType="int">
        update APPLY set APPLY_READCHECK=true where RE_SEQ=#{re_seq}
    </update>
    <select id="readCheck" resultType="Boolean" parameterType="int">
      select APPLY_READCHECK from APPLY where RE_SEQ in (select RE_SEQ from APPLY where U_SEQ=#{u_seq});
    </select>


    <insert id="insert" parameterType="ApplyDTO">
      insert into APPLY values(#{u_seq},#{co_seq},curdate(),#{re_seq},#{self_seq})
    </insert>
</mapper>