<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjob.backend.mapper.CrawlingMapper">
    <insert id="insertCL" parameterType="CrawlingDTO">
        insert into CRAWLING(co_seq,cl_recruitment,cl_workingconditions,cl_screeningproce,cl_applicationperiod,cl_notice,cl_img,cl_logo,cl_iframe,cl_status) values(#{co_seq},#{cl_recruitment},#{cl_workingconditions},#{cl_screeningproce},#{cl_applicationperiod},#{cl_notice},#{cl_img},#{cl_logo},#{cl_iframe},#{cl_status})    
    </insert>

    <insert id="insert" parameterType="CrawlingDTO">
        insert into CRAWLING(co_seq, cl_iframe) values(#{co_seq}, #{cl_iframe})
    </insert>

    <select id="selectCL" parameterType="int" resultType="CrawlingDTO">
        select * from CRAWLING where co_seq=#{co_seq}
    </select>
    <update id="update" parameterType="CrawlingDTO">
        update CRAWLING set cl_iframe=#{cl_iframe} where co_seq=#{co_seq}
	</update>
</mapper>