<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjob.backend.mapper.MemberMapper">
	<insert id="join" parameterType="MemberDTO">
		insert into MEMBER(u_id, u_password, u_name, u_gender, u_birth, u_job, u_degree, u_email, u_major, u_phone, u_career, u_provider, isManager, u_lastschool, u_memberSince) values(#{u_id}, #{u_password}, #{u_name}, #{u_gender}, #{u_birth}, #{u_job} ,#{u_degree}, #{u_email}, #{u_major}, #{u_phone}, #{u_career} ,#{u_provider}, #{isManager}, #{u_lastschool},curdate())
	</insert>
  <select id="findById" parameterType="String" resultType="MemberDTO">
      select * from MEMBER where u_id=#{u_id}
  </select>
  <update id="additional" parameterType="MemberDTO">
    update MEMBER set u_birth=#{u_birth}, u_job=#{u_job}, u_degree=#{u_degree}, u_major=#{u_major}, u_career=#{u_career}, u_phone=#{u_phone},u_lastschool=#{u_lastschool} where u_id=#{u_id}
  </update>
  <select id="emailCheck" resultType="MemberDTO">
      select * from MEMBER where u_name=#{u_name} and u_email=#{u_email}
  </select>
  <update id="changePwd" parameterType="String">
    update MEMBER set u_password=#{u_password} where u_email=#{u_email}
  </update>
  <select id="findByEmail" parameterType="String" resultType="MemberDTO">
    select * from MEMBER where u_email=#{u_email}
  </select>
  <update id="updateInfo" parameterType="MemberDTO">
    update MEMBER set u_birth=#{u_birth}, u_email=#{u_email}, u_phone=#{u_phone}, u_lastschool=#{u_lastschool}, u_major=#{u_major}, u_job=#{u_job}, u_name=#{u_name} where u_seq=#{u_seq}
  </update>
  <select id="getUserJoin" resultType="MemberDTO">
    select u_memberSince,count(*) as countMember from member where u_memberSince between DATE_ADD(NOW(),INTERVAL-1 WEEK) and NOW() group by u_memberSince order by u_memberSince
  </select>
  <select id="getUserCount" resultType="int">
    select IFNULL(count(*),0) from member
  </select>
  <select id="selectMember" resultType="MemberDTO">
    select * from member
  </select>
  <update id="updateGrant" parameterType="MemberDTO">
    update member set isManager=#{isManager} where u_seq=#{u_seq}
  </update>
  <select id="selectAjax" resultType="MemberDTO">
    <![CDATA[
    select * from (select @rownum:=@rownum+1 as rnum, A.* from (select * from MEMBER order by u_seq desc) A, (select @rownum:=0) R) B where rnum>=#{startRow} and rnum<=#{endRow}
    ]]>
  </select>
  <select id="selectBySeq" parameterType="int" resultType="MemberDTO">
    select * from MEMBER where u_seq=#{u_seq}
  </select>
</mapper>