<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjob.backend.mapper.PassboardMapper">
    <select id="selectAjax" resultType="PassboardDTO">
      <![CDATA[
      select * from (select @rownum:=@rownum+1 as rnum, A.* from (select * from PASSBOARD order by pass_seq desc) A, (select @rownum:=0) R) B where rnum>=#{startRow} and rnum<=#{endRow}
      ]]>
    </select>
    <select id="selectCount" resultType="int">
      select count(*) from PASSBOARD
    </select>
    <select id="selectBySeq" parameterType="int" resultType="PassboardDTO">
      select * from PASSBOARD where pass_seq=#{pass_seq}
    </select>
    <insert id="insert" parameterType="PassboardDTO">
      insert into PASSBOARD(pass_title, pass_company, pass_career, pass_job, pass_univ, pass_grade, pass_toeic, pass_content) values(#{pass_title},#{pass_company},#{pass_career},#{pass_job},#{pass_univ},#{pass_grade},#{pass_toeic},#{pass_content})
    </insert>
    <update id="update" parameterType="PassboardDTO">
      update PASSBOARD set pass_title=#{pass_title}, pass_company=#{pass_company}, pass_career=#{pass_career}, pass_job=#{pass_job}, pass_univ=#{pass_univ}, pass_grade=#{pass_grade}, pass_toeic=#{pass_toeic}, pass_content=#{pass_content}where pass_seq=#{pass_seq}
    </update>
    <delete id="delete" parameterType="int">
      delete from PASSBOARD where pass_seq=#{pass_seq}
    </delete>
</mapper>