<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjob.backend.mapper.SelfMapper">

    <select id="select" parameterType="SelfDTO" resultType="SelfDTO"> 
        select * from SELFINTRO where u_seq=1;
    </select>
    <select id="maxQA" resultType="int">
        select max(qa_seq) from ques;
    </select>
    <insert id="insertQues" parameterType="QuesDTO">
        insert into QUES(self_seq,qa_q,qa_a) values(#{self_seq},#{qa_q},#{qa_a})
	</insert>

    <insert id="insertSelf" parameterType="SelfDTO">
        insert into SELFINTRO(u_seq,self_name) values(#{u_seq},#{self_name})
	</insert>

    <update id="update" parameterType="SelfDTO">
        update QUES set QA_Q =#{qa_q} , QA_A=#{qa_a} where QA_SEQ =#{qa_seq}
	</update>

    <delete id="deleteQA" >
        delete from QUES where qa_seq=#{qa_seq}
	</delete>

    <delete id="deleteSelf" >
        delete from SELFINTRO where self_seq=#{self_seq}
	</delete>

    <select id="userSelf" parameterType="String" resultType="SelfDTO">
        select * FROM SELFINTRO where u_seq=#{u_seq} and apply_check = false order by self_seq desc
    </select>

    <select id="maxSelf" resultType="int">
        select ifnull(max(self_seq),0) +1 from SELFINTRO;
    </select>
    <select id="SelfDetail" resultType="SelfDTO" parameterType="SelfDTO">
        select * from SELFINTRO where u_seq = #{u_seq} and self_seq = #{self_seq} and apply_check = false order by self_seq desc
    </select>
    <select id="SelfDetailApply" resultType="SelfDTO" parameterType="SelfDTO">
        select * from SELFINTRO where u_seq = #{u_seq} and self_seq = #{self_seq} and apply_check = true order by self_seq desc
    </select>
    <select id="QuesDetail" parameterType="SelfDTO" resultType="QuesDTO"> 
        select * from QUES where self_seq=#{self_seq}
    </select>
    <update id="quesUpdate" parameterType="QuesDTO">
        update QUES set qa_q = #{qa_q}, qa_a = #{qa_a} where qa_seq = #{qa_seq}
    </update>
    <delete id="quesDeleteData" parameterType="int">
        delete from QUES where qa_seq > #{qa_seq}
    </delete>
    <delete id="quesReset" parameterType="SelfDTO">
        delete from QUES where self_seq = #{self_seq}
    </delete>
    <select id="lastInsertSelf" resultType="SelfDTO">
        select * from SELFINTRO where self_seq in (select max(self_seq) from selfintro where apply_check=false)
    </select>
    <insert id="copySelf" parameterType="int">
        insert into SELFINTRO(u_seq,self_name) (select u_seq,self_name from selfintro where self_seq=#{self_seq})
    </insert>
    <update id="applyUpdate" parameterType="int">
        update SELFINTRO set APPLY_CHECK = true where self_seq = #{self_seq}
    </update>
</mapper>