<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjob.backend.mapper.SelfMapper">
    
    <insert id="insertQues" parameterType="QuesDTO">
        insert into QUES(self_seq,qa_q,qa_a) values(#{self_seq},#{qa_q},#{qa_a})
	</insert>

    <insert id="insertSelf" parameterType="SelfDTO">
        insert into SELFINTRO(u_seq,self_name) values(#{u_seq},#{self_name})
	</insert>

    <update id="selfUpdate" parameterType="SelfDTO">
        update SELFINTRO set self_name = #{self_name} where self_seq = #{self_seq}
    </update>

    <update id="quesUpdate" parameterType="QuesDTO">
        update QUES set qa_q = #{qa_q}, qa_a = #{qa_a} where qa_seq = #{qa_seq}
    </update>

    <delete id="deleteSelf" >
        delete from SELFINTRO where self_seq = #{self_seq}
	</delete>
    
    <select id="userSelf" parameterType="int" resultType="SelfDTO">
        select * FROM SELFINTRO where u_seq = #{u_seq} and apply_check = false order by self_seq desc
    </select>

    <select id="selfDetail" resultType="SelfDTO" parameterType="SelfDTO">
        select * from SELFINTRO where u_seq = #{u_seq} and self_seq = #{self_seq} and apply_check = false order by self_seq desc
    </select>
    <select id="selfDetailApply" resultType="SelfDTO" parameterType="SelfDTO">
        select * from SELFINTRO where u_seq = #{u_seq} and self_seq = #{self_seq} and apply_check = true order by self_seq desc
    </select>
    <select id="quesDetail" parameterType="int" resultType="QuesDTO"> 
        select * from QUES where self_seq=#{self_seq}
    </select>
    <delete id="quesReset" parameterType="SelfDTO">
        delete from QUES where self_seq = #{self_seq}
    </delete>
    <select id="lastInsertSelf" resultType="SelfDTO">
        select * from SELFINTRO where self_seq in (select max(self_seq) from selfintro where apply_check=false)
    </select>
    <insert id="copySelf" parameterType="int">
        insert into SELFINTRO(u_seq,self_name) (select u_seq,self_name from selfintro where self_seq=#{self_seq})
    </insert>
    <update id="applyUpdate" parameterType="int">
        update SELFINTRO set APPLY_CHECK = true where self_seq = #{self_seq}
    </update>
    <select id="getSelfCount" resultType="int">
        select IFNULL(count(*),0) from SELFINTRO;
    </select>
</mapper>