<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gjob.backend.mapper.UniversityMapper">
    <select id="search" parameterType="String" resultType="UniversityDTO">
      select * from UNIVERSITY where univ_name like concat(#{univ_name},'%')
    </select>
</mapper>