/* GOOGLE FONTS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
/* VARIABLES CSS */

:root {
    --nav--width: 92px;
    /* Colores */
    --first-color: #0c5df4;
    --bg-color: #12192c;
    --sub-color: #b6cefc;
    --white-color: #fff;
    /* Fuente y tipografia */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    /* z index */
    --z-fixed: 100;
}


/* BASE */

*,
 ::before,
 ::after {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 2rem 0 0 6.75rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
}

a {
    text-decoration: none;
}


/* l NAV */

.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav--width);
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--white-color);
    padding: 1.5rem 1.5rem 2rem;
    transition: .5s;
    z-index: var(--z-fixed);
}


/* NAV */

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__brand {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.nav__toggle {
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
}

.nav__logo {
    color: var(--white-color);
    font-weight: 600;
}

.nav__link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: .75rem;
    padding: .75rem;
    color: var(--white-color);
    border-radius: .5rem;
    margin-bottom: 1rem;
    transition: .3s;
    cursor: pointer;
}

.nav__link:hover {
    background-color: var(--first-color);
}

.nav__icon {
    font-size: 1.25rem;
}

.nav_name {
    font-size: var(--small-font-size);
}

.nav__brand>img {
    width: 45px;
    padding: 0px;
}


/* Expander menu */

.expander {
    width: calc(var(--nav--width) + 9.25rem);
}


/* Add padding body*/

.body-pd {
    padding: 2rem 0 0 16rem;
}


/* Active links menu */

.active {
    background-color: var(--first-color);
}


/* Rotate icon */

.rotate {
    transform: rotate(180deg);
    transition: .5s;
}

h1{
    color: #12192c;
    border-bottom: 2px solid #12192c;
    padding-bottom: 10px;
    margin-top: 70px;
    margin-bottom: 60px;
}

.totalMember_con{
    background-color: #f1f1f19a;
    width: 98%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.totalM_con{
    width: 24%;
    text-align: center;
}
    .totalM_con1{
        flex-direction: row;
        display: flex;
        width: 76%;
        text-align: center;
}

.totalM{
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    text-decoration: underline;
}

.totalM_con1>h3{
    flex: 1 1 40%;
    margin-top: 35px;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -0.5px;
    
}
    .totalM_con1>div{
        font-weight: bold;
    }

.canvas{
    width: 400px;
    height: 400px;
}
.pageNumDiv {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    margin: 40px 0;
}

    .pageNumDiv>a {
        --size: 32px;
        --margin: 6px;
        margin: 0 var(--margin);
        border-radius: 6px;
        background: #e2e2e271;
        min-width: var(--size);
        height: var(--size);
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 5px 10px;
        color: black;
        text-decoration: none;
        font-size: 14px;
}
.passUpload {
    margin: 2rem;
    display: flex;
    justify-content: flex-end;
}