body{
    display: flex;
    flex-direction: column;
    padding: 0 100px 0 100px;
}

h2{
    color: #007bff;
    border-bottom: 2px solid #007bff;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;    
    margin-bottom: 60px;
}

form{
    width: 90%;
    margin: auto;
    border: 2px solid rgba(187, 187, 187, 0.863);
    padding: 30px;
    border-radius: 20px;
}

.mb-3{
    margin: 10px 0px 10px 0px;
}
    .mb-3>label{
        font-size: 14px;
}
    .mb-3>input[type=text],
    .mb-3>input[type=int]{
        font-size: 12px;
    }

.form-control{
    width: 250px;
    height: 30px;
    outline: none;
    border: none;
    margin-left: 10px;
    margin-bottom: 17px;
    border-bottom: 2px solid #c0c0c0;

}
    .form-control1{
        width: 250px;
        height: 30px;
        outline: none;
        border: none;
        margin-left: 25px;
        margin-bottom: 17px;
        border-bottom: 2px solid #c0c0c0;
}
    .form-control2{
        width: 80%;
        height: 30px;
        outline: none;
        border: none;
        margin-left: 39px;
        margin-bottom: 17px;
        border-bottom: 2px solid #c0c0c0;
}
    .form-control3{
        height: 720px;
        width: 100%;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 22px;
        border: 1px solid #c0c0c0;
        font-size: 15px;
        resize: none;
}
    .form-control3:focus{
        outline: none;
}

.borad_button{
    display: table;
    margin:auto;
}
    .btn-primary{
        margin-left: 10px;
        border: none;
        padding: 10px 30px;
        border-radius: 4px;
        color: #818181;
        background-color: #e2e2e2;
}

    .btn-primary1{
        margin-left: 10px;
        border: none;
        padding: 10px 30px;
        border-radius: 4px;
        color: #fff;
        background-color: #007bff;
}