
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 900px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    line-height: auto;
    margin-bottom: 200px;
  }
    .container>a{
      margin-top: 60px;
      font-size: 16px;
      color: #818181;
      background-color: white;
      align-self: flex-start;
      border-bottom: 2px solid #007bff;
      width: 100%;
    }

    .container>a>span{
      font-size: 38px;
      font-weight: bold;
      color: #007bff;
    }

    .find_signu{
      display: flex;
      justify-content: space-between;
      width: 50%;
      margin-block-start: auto;
      align-items: center;
      background-color: #fff;
    }

    .api_login{
      display: flex;
      justify-content: flex-end;
      width: 50%;
      margin-block-start: auto;
      align-items: center;
      background-color: #fff;
      margin-bottom: 5px;

    }
      .find_signup > a> input{
        padding: 13px 12px;
        font-size: 17px;
      }

      .api_login>a>#nbutton{
        background-color: #2cc622;
        border: none;
        border-radius: 5px;
        padding: 5px 9px;
        margin-bottom: 10px;
      }

      .api_login>a>#kbutton{
        background-color: #fbeb04;
        border: none;
        border-radius: 5px;
        padding: 5px 9px;
        margin-left: 10px;
        margin-bottom: 10px;
      }

      .api_login>a>button>#nbutton{
        width: 30px;
        height: 30px;
        object-fit: cover;
        align-self: center;
      }
      
      .api_login>a>button>#kbutton{
        width: 30px;
        height: 30px;
        object-fit: cover;
      }

    .login{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-top: 150px;
      height: 280px;
      width: 570px;
      align-items: center;
      border: 1px solid #007bff;
      border-radius: 20px;
      background-color: #fff;
    }
    .login_container{
      margin: 30px 0px 0px 20px;
    }
    .login_container>a>input{
      border: none;
      background-color: #fff;
      color:#007bff;
      font-weight: bold;
    }
      .inputlist{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: #ffffff;
        height: 100px;
        margin: 35px 40px 0px 100px;
      }
        .inputlist>form>input{
          width: 100%;
          font-size: 12px;
          height: 30px;
          border: 1px solid #818181;
          margin-bottom: 10px;
          /* background-color: rgba(129, 169, 206, 0.082); */
        }
        .send > input{
          background-color: #007bff;
          border-radius: 15px;
          border: none;
          color: #fff;
          font-size: 20px;
          padding: 33px 25px;
          margin-top: 30px;
        }
    