.header{

  flex-direction: column;
  background-color:rgb(255, 255, 255);

}

  .header > .TOP{
      display: flex;
      background-color: #f1f1f1;
      margin: 10px;
      padding: 20px;
      font-size: 20px;
      border-radius: 15px;
      justify-content: space-between;
      border: thick double darkgoldenrod;
}

.caution_text{
  font-size: 30px;
  color:#007bff;
  font-weight: bold;
  margin-top: 70px;
  text-indent: 38px;
}

.caution{
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  margin: 15px 40px 120px 40px;
  padding: 30px 20px 20px 20px;
  font-size: 13.5px;
  line-height: 25px;
  word-break: keep-all;
  border: 3px solid #007bff;
  border-radius: 8px;
}

.caution_img>img{
  width: 100px;
  margin-right: 10px;
}

.caution_txt>li::marker{
  color:#007bff;
  font-size: 10px;
}

.out_container{
  display: flex;
  flex-direction: column;
  background-color:rgb(255, 255, 255);
  border-top: 2px solid #000000;
  width: 80%;
  margin: auto;
}

.resume_title{
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 40px;
}

.resume_table { 
  height: 170px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 60px;
  margin-top: 50px;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.resume_table1_title{ /*고등학교*/
  font-weight: bold;
  font-size: 16px;
  margin-left: 30px;
}

.resume_table1 { /*고등학교*/
  height: 100px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 60px;
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 0.9rem;
} 

.resume_table2_title,
.resume_table3_title,
.resume_table4_title,
.resume_table5_title,
.resume_table6_title,
.resume_table7_title{ /*대학교*/
  font-weight: bold;
  font-size: 16px;
  margin-left: 30px;
}

.resume_table2,
.resume_table3{ /*대학교*/
  height: 100px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 0.9rem;
} 

.resume_table4{ /*경력*/
  height: 200px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 0.9rem;
} 

.resume_table5,
.resume_table6,
.resume_table7{ /*자격증, 어학*/
  height: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 5px;
  margin-top: 20px;
  border-collapse: collapse;
  font-size: 0.9rem;
} 

input[type="button"]{
  width: 80px;
  height: 40px;
  align-self: flex-end;
  margin-right: 30px;
  margin-top: 4px;
  margin-bottom: 60px;
  background-color: #e2e2e2;
  color: #818181;
  border: none;
  border-radius: 8px;
}

#input1{
  border: none;
}

#input2{
  border: none;
  width: 100%;
  height: 70px;
  padding: 0px;

}

input:focus{
  outline:none;
}

th {
  background: #e2e2e2; 
  color: #818181; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

input::placeholder{
  color: #000;
  opacity: 1;
  font-size: 0.8rem;
}

select{
  border: 1px solid #818181;
  border-radius: 3px;
  padding:2px;
}

.save>button{
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  color: #818181;
}

.save{
  display: flex;
  align-self: center;
}

input[type="submit"]{
  width: 80px;
  height: 40px;
  align-self: flex-end;
  margin-top: 4px;
  margin-bottom: 60px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
}


  .footer{
      display: flex;
      background-color:black;
      justify-content: center;
      align-items: center;
      height: 100px;
      text-align: center;
}
      .footer > div {
          background-color: #b80202;
          width: 200px;
          font-size: 30px;
}

