body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.setting_main {
    margin-top: 50px;
    display: flex;
    width : 100%;
    justify-content: space-evenly;
}
.set_row{
    display: flex;
    width : 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text_form{
    width : 330px;
    height : 40px;
    border-bottom: 1px solid rgba(0,0,0, 0.5);
}
.pass_form{
    width: 270px;
    height : 40px;
    border-bottom: 1px solid rgba(0,0,0, 0.5);
}
.passField{
    width: 340px;
}
@import "https://fonts.googleapis.com/css?family=Montserrat";

.menu {
    width: 20%;
    cursor: pointer;
    margin-top: 60px;
}
    .title {
        width: 100%;
        box-sizing: border-box;
        padding: 14px;
        border-radius: 4px;
        position: relative;
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.336);
        color: #505050;
        font-size: 14px;
    }
    .title:hover{
        background-color: #007bff;
        color: white;
    }
    .title>span{
        background-color: rgba(255, 255, 255, 0);
    }
    .title>span:hover{
        color: white;
    }
    span {
        float: right;
        font-size: 18px !important;
    }
    .dropdown {
        width: 100%;
        border-radius: 4px;
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.336);
        color: #505050;
        margin-top: 24px;
        max-height: 0;
        overflow: hidden;
        transition: all 0.7s;
        font-size: 14px;
    }
    .down {
        max-height: 150px;
    }
    .dropdown>p {
        padding: 15px 14px;
        margin: 0;
        transition: all 0.7s;
    }
    .dropdown>p:hover {
        background:#007bff;
        -webkit-transform: scale(1.05);
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.336);
        color: white;
    }
    .dropdown>p>span{
        background-color: rgba(255, 255, 255, 0);
    }
    .dropdown>p>span:hover{
        color: white;
    }

.user_setting {
    width : 70%;
    height : fit-content;
    text-align: left;
    margin-left: 20px;
}

.h1_container{
    display: inline-flex;
    width: 100%;
    border-bottom: 2px solid #007bff;
    justify-content: space-between;
}
    .h1_container>h1{
        color: #007bff;
        margin-bottom: 2px;
}
    .company_button{
        float: right;
        height: 20px;
        margin-top: 42px;
        color: #007bff;
        font-weight: bold;
    }

.user_info{
    display: flex;
    height : 100%;
    width : 100%;
    padding-top: 40px;
    flex-direction: column;
    margin-left: 10px;
}

.set_head {
    width : 100px;
}
.pass_button{
    text-decoration: none;
    height: 25px;
    width: 50px;
    padding-bottom: 3px;
    border-radius: 5px;
    background-color: #e2e2e2;
    margin-left: 2px;
}
.change_button{
    margin-top: 50px;
    margin-bottom: 50px;
    width : 140px;
    height : 45px;
    background-color: #007bff;
    border-radius: 5px 20px 5px 20px;
    color: #ffffff;
    font-weight: bold;
    margin-left: 490px;
    
}
.change_pass{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.change_pass>div{
    margin-top: 20px;
    margin-bottom: 20px;
}

/* 모달 처리 */

.pass_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modalBox {
    top : 30%;
    left : 40%;
    text-align: center;
    position: fixed;
    background-color: #fff;
    width: 400px;
    padding: 15px;
    border-radius: 10px;
}

.modalBox>h1{
    color: #007bff;
    margin-top: 10px;
}

.modalBox button {
    display: block;
    width: 80px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

input[type="date"]{
    border-bottom: 1px solid rgba(0,0,0, 0.5);
}
.closeBtn{
    width : fit-content;
    text-align: right;
    color: #696969;
}
.closeArea{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

input[type="password"]{
    border-bottom: 1px solid rgba(0,0,0, 0.5);
}

.pass_submit{
    margin: 30px 10px 20px 10px;
}

input[type="button1"]{
    background-color: #007bff;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    
}


.manage_main{
    width :70%;
    height : fit-content;
    justify-content: flex-end;
    align-items: flex-end;
}

    .manage_main>h1{
        color: #007bff;
        border-bottom: 2px solid #007bff;
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 10px;    
        margin-bottom: 2px;
    }

    .resume_title{
        margin-top: 70px;
        color: #000;
        font-weight: bold;
    }

    .resume_title1{
        margin-top: 120px;
        color: #000;
        font-weight: bold;
    }

.resume_caution_img>img{
    width: 100px;
    margin-right: 10px;
}

.resume_caution{
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    margin: 60px 40px 70px 40px;
    padding: 30px 20px 20px 20px;
    font-size: 13.5px;
    line-height: 25px;
    word-break: keep-all;
    border: 2px solid #007bff;
    border-radius: 8px;
}

.resume_caution_txt{
    font-size: 15px;
    color:#000;
    text-indent: 38px;
    margin-top: 20px;
    
}

.resume_caution_txt>li::marker{
    color:#007bff;
    font-size: 10px;
}

.resume_container{
    width: 95%;
    margin: auto;
}

.resume_setting_table { 
    height: 80px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
} 

    th {
        background: #c9c9c952; 
        color: #000000; 
        font-weight: bold; 
        font-size: 0.9rem;
        text-align: center;
        padding: 6px; 
        text-align: left; 
        text-align: center;
    }

    td { 
        padding: 6px; 
        text-align: center;
        border-bottom: 1px solid #ccc;
    }

    thead{
        border-top: 2px solid #000;
        border-bottom: 1px solid #ccc;
    }

    tbody>tr>td>input{
        border: none;
        padding: 5px 10px 5px 10px;
        margin-left: 3px;
        margin-right: 3px;
    }

    .resume_container>input{
        float: right;
        border: none;
        font-size: 14px;
        padding: 9px 18px 9px 18px;
        background-color: #007bff;
        color: #fff;
        margin-bottom: 50px;
    }

.footer{
    display: flex;
    background-color:black;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
}
    .footer > div {
        background-color: #b80202;
        width: 200px;
        font-size: 30px;
}