/* :root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */
.main-section {
    display:flex;
}
.load-section{
    display:flex;
    margin: 0px;
    padding:0px;
}
body {
  /*  font-family: "Noto Sans KR", sans-serif; */
    font-family: "KoPubWorld돋움체"  /*폰트 고민 중*/
}

* {
    background-color: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding : 0 100px 0 100px;
}

ul,
li {
    list-style: none;
}

.slide {
    height: 600px;
    overflow: hidden;
}

.slide ul {
    display: flex;
    width: calc(100% * 4);
    animation: slide 16s infinite;
    margin: 0;
    padding: 0;
}

.slide li {
    width: calc(100% * 4);
    height: 600px;
}

/* 
    총 4개의 슬라이드로 구성했는데, 각슬라이드마다 들어갈 이미지의 요소라던지, 아이템들을 추가하고나면
    이미지는 없애도될듯하다 .
*/

.slide li:nth-child(1) {
    background-image: url('/img/banner5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.slide li:nth-child(2) {
    background-image: url('/img/banner2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.slide li:nth-child(3) {
    background-image: url('/img/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.slide li:nth-child(4) {
    background-color: #aaf;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.bh-text {
    font-weight: 500;
    font-size: 40px;
    background-color: #aaf;
    color: beige;
}

.bb-text {
    font-weight: 500;
    font-size: 24px;
    background-color: #aaf;
    color: beige;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }
    10% {
        margin-left: 0;
    }
    25% {
        margin-left: -100%;
    }
    35% {
        margin-left: -100%;
    }
    50% {
        margin-left: -200%;
    }
    60% {
        margin-left: -200%;
    }
    75% {
        margin-left: -300%;
    }
    85% {
        margin-left: -300%;
    }
    100% {
        margin-left: 0;
    }
}

.head-text {
    display: flex;
    text-align: left;
    font-size: 2em;
    font-weight: 200;
    position: relative;
    margin-right: 320px;
    margin-bottom: 1px;
    padding: 0px;
}

.header-nav {
    background-color: #ffffff;
    width: 100%;
    height: fit-content;
    display: block;
    flex-wrap: wrap;
}

.search-bar {
    text-decoration: none;
    border: none;
    background-color: inherit;
}

.header-nav>.nav-buttonArea {
    flex-wrap: wrap;
}

.nav-main {
    background-color: #ffffff;
    height: 100px;
    padding: 20px;
    padding-bottom: 60px;
    display: flex;
    justify-content: flex-end;
}

.info1,
.info2 {
    width: 200px;
    background-color: #ffffff;
    display:flex;
    align-items: center;
    justify-content: center;
}
.header_icon {
    font-size: 40px;
    text-decoration: none;
    color : #0060c6;
    margin: 20px;
}

.info_button {
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.login-button {
    font-size: 20px;
    background-color: #ffffff;
    text-decoration: none;
}

.logo-area {
    width: 300px;
    height: fit-content;
    margin-right: auto;
}

.logo-img {
    background-color: #ffffff;
    object-fit: cover;
    display: block;
    width: 300px;
}

.topInfo-area {
    display: flex;
    position: relative;
    width: 100%-300px;
    justify-content: space-evenly;
}

a.nav-button {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    background-color: #007bff;
    width: fit-content;
    text-align: center;
    color: white; 
}

a.nav-button:hover {
    background-color: #0060c6;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-buttonArea {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    height: 50px;
}

.nav-button:nth-child(1) {
    flex-grow: 1;
}

.nav-button:nth-child(2) {
    flex-grow: 1;
}

.nav-button:nth-child(3) {
    flex-grow: 1;
}

.nav-button:nth-child(4) {
    flex-grow: 1;
}

.nav-button:nth-child(5) {
    flex-grow: 1;
}

.nav-button:nth-child(6) {
    flex-grow: 1;
}

.search-Area {
    display: flex;
    justify-content: center;
    height: 50px;
    flex-grow: 1.5;
    flex-wrap: wrap;
}

input {
    text-decoration: none;
    border: none;
}

input:focus {
    outline: none;
}

.banner-area {
    background-color: #eeeeee;
    width: 100%;
    height: 400px;
    margin: 0px 0;
}

.incruit-area { 
    width : 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
    background-color: #fcfcfc;
    border: 2px solid #007bff;  
}

.incruit-area>h1 {
    background-color: #eeeeee;
}

.banner-area>h1 {
    text-align: center;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    position: relative;
    color: black;
}
/* 카드 레이아웃 CSS */
.card { 
    font-family: var(--bs-font-sans-serif);
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #ffffff;
    width: 260px;
    height: 330px;
    box-shadow: -10px 10px 15px #e2e2e2;
    border: 2px solid #007bff;
    border-radius: 14px;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: #007bff;
    border-radius: 10px 10px 0px 0px;
    color: #ffffff;
}

.card-header>h3{
    background-color: #007bff;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: #ffffff;
}

.card-footer {
    padding: 0.5rem 1rem;
    background-color: #e2e2e2;
    border-radius: 0px 0px 13px 13px;
    color: #000000;
}
/* /카드 끝/ */


.login-area {
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;  
}

.login-body {
    padding: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.login-header {
    display: flex;
    background-color: #e2e2e2;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.modal-login.active {
    background-color: white;
}
.modal-id-pwd.active{
    background-color: white;
}

.modal-login {
    padding: 8px 63px 6px 63px;
    background-color: #e2e2e2;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
}
.login-status {
    display: none;
    background-color: unset;
}

.id-pwd-status {
    width : 100%;
    height: 100%;
    display: none;
    background-color: white;
}
.login-status.active {
    display: block;
}

.id-pwd-status.active {
    display: block;
}
.modal-id-pwd {
    background-color: #e2e2e2;
    padding: 8px 60px 8px 60px;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
}
.input-box {
    border: 1px solid rgba(0, 0, 0, 0.125);
    width: 280px;
    height: 30px;
    margin: 10px;
    margin-top: 0px;
    padding: 10px;
    font-size: 20px;
}
.verfication-button {
    width: fit-content;
    height: 30px;
    text-align: left;
    margin: 10px;
    margin-bottom: 20px;
    background-color: #007bff;
    border-radius: 5px 10px;
    font-size: 16px;
    color: white;
    font-weight: 500;
}
.row-bar {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    padding-bottom: 20px;
    margin-top: 10px;
    height: 2px;
}
.find-id{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height : 150px;
    width : 100%;
    margin : 10px;
}
.find-id-head{
    width : 100%;
    display:flex;
    justify-content: flex-start;
}
.find-idpwd {
    justify-content: flex-start;
    flex-direction: column;
}
.find-id-form {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-right: 40px;
}


.input-label,
.input-text {
    font-size: 15px;
    font-weight: 100;
    text-align: center;
}

.input-label {
    margin-right: 20px;
}

.input-text {
    border: 1px solid rgba(0, 0, 0, 0.125);
    height: 50px;
    width: 400px;
    margin: 20px;
    border-radius: 10px;
    margin: 5px;
}




input[type="button"].input-text {
    font-weight: 1000;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    margin-bottom: 0;
}

.input-text:focus::placeholder {
    color: transparent;
}

.nv-logo {
    object-fit: cover;
    height: 45px;
}

.naver-area span{
    background-color: #2cc622;
    color: white;
    width: 290px;
    font-size: 14px;
    font-weight: 600;
}

.naver-area{ 
    background-color: #2cc622;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.sec-a{
    background-color:#2cc622;
    color: #ffffff;
    text-decoration: none;
    margin-right: 110px;
}

.nv-logo{
    transform: translate(7px);
}

.kakao-area{ 
    background-color: #fbeb04;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.sec-a1{
    background-color:#fbeb04;
    color: #391f1f;
    text-decoration: none;
    margin-right: 110px;
}

.nv-logo1{ 
    transform: translate(5px);
}

.naver-area,
.kakao-area {
    margin: 10px;
}

.kakao-area span {
    background-color: #fbeb04;
    color: #391f1e;
    width: 290px;
    font-size: 14px;
    font-weight: 600;
}

.idpw-area {
    display: flex;
    width: 430px;
    justify-content: flex-end;
    flex-wrap: wrap;    
}

.idpw-area a {
    word-wrap: break-word;
    text-decoration: none;
    color: #aaaaaa;
}

.idpw-area a:hover{
    color: #007bff;
}

.idpw-area a:nth-child(1) {
    padding-right: 20px;
    padding-bottom: 50px;
}

.swiper-head { 
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 5px 160px 5px 160px;
    background-color: #007bff;
    border-radius: 0px 0px 30px 30px;
    margin-top: 0px;
}

.swiper-wrapper {
    align-items: center;
    padding: 1.5rem;
    z-index: unset !important;
}

.swiper-container {
    height: fit-content;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    margin: 30px 40px 40px 40px !important;
    max-width: 100%;
    z-index: unset !important;
}

.swiper-slide {
text-align: center;
}

.swiper-button-prev{
    background-color: rgba(239, 239, 239, 0.7);
    border-radius: 50%;
    padding: 5px 15px 5px 15px;
}

.swiper-button-next{
    background-color: rgba(239, 239, 239, 0.7);
    border-radius: 50%;
    padding: 5px 15px 5px 15px;
}

.modal {
    position: absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    display: none;
    background-color: rgba(0,0,0,0.4);
}

.modal.show {
    display : block;

}

.modal_body {
    position: absolute;
    top : 50%;
    left : 50%;
    width : 450px;
    height : 600px;
    padding : 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34,36,38,0.15);
    transform: translateX(-50%) translateY(-50%);
}

.scroll{
    display: scroll;
    position: fixed;
    bottom: 10px;
    right: 10px;
}


@media (min-width: 1240) {}

.terms-all{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%
}

.span{
    margin-left: 160px;
}

.terms-top span{
    color: #007bff;
    display:inline-block; 
    padding: 60px 0px 60px;
    margin: 0px 170px 0px 150px; 
    font-weight: bold;
}

.terms-check{
    margin: 5px 0px 30px 0px;
    text-decoration: none !important;
    color: #000000;
}

.terms-button-area{
    font-weight: 1000;
    color: white;
    margin-left: 30px;
}

.send-input-button{
    background-color: #007bff;
    border-radius: 5px 10px;
    padding: 10px 12px 10px 12px;
    color: #ffffff;
}

.send-input-button1{
    background-color: #e2e2e2;
    border-radius: 5px 10px;
    padding: 10px 12px 10px 12px;
    color: #000000;
}

.idpwd-text{
    background-color: #007bff;
    border-radius: 5px 10px;
    padding: 10px 12px 10px 12px;
    color: #ffffff;
}

.register-area{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%

}

.head{
    display:inline-block; 
    padding: 30px 0px 10px;
    font-weight: bold;
    color:#007bff;
}

.signup_all{
    display: flex;
    background-color: #ffffff;
    text-decoration: none !important;
    color: #000000;
    border-top: 2px solid #007bff;
    padding: 4px;
    justify-content: flex-start;
    align-items: flex-start;
}

#text{
    text-align: left;
    margin-right: 40px;
}

.signup_all>div{
    margin: 20px;
}

#u_id.input-text{
    border: 1px solid #e2e2e2;
    padding: 2px;
}

.content{
    text-decoration: none;
}

.self-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    ;
}

.card-button {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #DDDDFF;
    font-size: 24px;
    color: white;
    margin-top: 10px;
}

.card-button-header {
    background-color: #DDDDFF;
}

.card-button-body {
    padding: 2rem 2rem;
    background-color: #DDDDFF;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-button-body>span {
    background-color: #DDDDFF;
}
.b1 {
    border-radius: 10px;
    margin: 40px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #DDDDFF;
}
.button-icon {
    font-size: 50px;
    background-color: #DDDDFF;
}
