body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.setting_main {
    margin-top: 50px;
    display: flex;
    width : 100%;
    justify-content: space-evenly;
}
.set_row{
    display: flex;
    width : 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.text_form{
    width : 330px;
    height : 40px;
    border-bottom: 1px solid rgba(0,0,0, 0.5);
}
.pass_form{
    width: 270px;
    height : 40px;
    border-bottom: 1px solid rgba(0,0,0, 0.5);
}
.passField{
    width: 340px;
}

@import "https://fonts.googleapis.com/css?family=Montserrat";

.menu {
    width: 20%;
    cursor: pointer;
    margin-top: 60px;
}
    .title {
        width: 100%;
        box-sizing: border-box;
        padding: 14px;
        border-radius: 4px;
        position: relative;
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.336);
        color: #505050;
        font-size: 14px;
    }
    .title:hover{
        background-color: #007bff;
        color: white;
    }
    .title>span{
        background-color: rgba(255, 255, 255, 0);
    }
    .title>span:hover{
        color: white;
    }
    span {
        float: right;
        font-size: 18px !important;
    }
    .dropdown {
        width: 100%;
        border-radius: 4px;
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.336);
        color: #505050;
        margin-top: 24px;
        max-height: 0;
        overflow: hidden;
        transition: all 0.7s;
        font-size: 14px;
    }
    .down {
        max-height: 150px;
    }
    .dropdown>p {
        padding: 15px 14px;
        margin: 0;
        transition: all 0.7s;
    }
    .dropdown>p:hover {
        background:#007bff;
        -webkit-transform: scale(1.05);
        box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.336);
        color: white;
    }
    .dropdown>p>span{
        background-color: rgba(255, 255, 255, 0);
    }
    .dropdown>p>span:hover{
        color: white;
    }

.user_setting {
    width : 70%;
    height : fit-content;
    text-align: left;
    margin-left: 20px;
}

h1{
    color: #007bff;
    padding-bottom: 2px;
    margin-bottom: 2px;
    width: 100%;
    border-bottom: 2px solid #007bff;
}

.user_info{
    background-color: #eeeeee;
}

table{
    margin: 50px 30px 20px 0px;
    border-collapse: collapse;
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: #eeeeee;
}

th{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #eeeeee;
}

.user_info>table>tbody>tr{
    background-color: #eeeeee;
}


